{% extends 'base.html' %}
{% load static %}
{% block title %}{{ actor.name }} - Django movie{% endblock title %}
{% block header %}bg1 inner{% endblock header%}
{% block breadcrumbs %}{{ actor.name }}{% endblock breadcrumbs %}

{% block content %}
                <!-- product right -->
<div class="left-ads-display col-lg-8">
<div class="row">
<div class="desc1-left col-md-6">
<img src="{{ actor.image.url }}" class="img-fluid" alt="">
</div>
<div class="desc1-right col-md-6 pl-lg-4">
<h3 class="editContent">
    {{ movie.title }}
</h3>
<h5 class="editContent"></h5>
<ul>
    <li>
        <span><b>Возраст:</b> {{ actor.age }} лет</span></li>
    <li>
        <span><b>Режиссер:</b>
            <ul>
            {% for movie in actor.film_director.all %}
            <li><a href="{% url 'movie_detail' movie.url %}">{{ movie.title }}</a></li>
            {% endfor %}
            </ul>
        </span>
    </li>
    <li><span><b>Актер:</b>
        <ul>
        {% for movie in actor.film_actor.all %}
        <li><a href="{% url 'movie_detail' movie.url %}">{{ movie.title }}</a></li>
        {% endfor %}
        </ul>
    </span>
    </li>
</ul>
</div>
</div>
<div class="row sub-para-w3layouts mt-5">
<h3 class="shop-sing editContent">
О {{ actor.name }}
</h3>
<p class="editContent">
{{ actor.description|safe }}
</p>
</div>
</div>
{% endblock content %}
